<div class="special-offers">
    
    <div class="offer left">
        <p>Special Offers</p>
        <div class="information">
            
            <h4>Welcome Pack</h4>
            <h3>2 BTC</h3>
            <h6>+250 Free Spins</h6>
            <button class="btn">Learn More</button>
           
        </div>
    </div>

     <div class="offer right">
       <p>Special Offers</p>
       <div class="information">
            <h4>VIP Membership</h4>
            <h3>5 BTC Match</h3>
            <h6>Deposit 5BTC</h6>
            <h6>Match 5BTC</h6>
            <button class="btn">Learn More</button>
       </div> 
     </div>
</div>
