<div class="special-offers">
    
    <div class="offer left">
        <p>Special Offers</p>
        <div>
            <h4>Welcome Pack</h4>
            <h3>2 BTC</h3>
            <h6>+250 Free Spins</h6>
            <button class="btn">Learn More</button>
        </div>
    </div>

     <div class="offer right">
       <p>Special Offers</p>
       <div class="information">
            <h4>Welcome Pack</h4>
            <h3>2 BTC</h3>
            <h6>+250 Free Spins</h6>
            <button class="btn">Learn More</button>
       </div>
     </div>
</div>
