<div class="cards">
    <div class="card">
      <img src="../../../assets/images/hot4cash.png" class="card-img-top" alt="hot4cash">
      <div class="card-body">
        <p>Hot4Cash</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/luckycharms.png" class="card-img-top" alt="hot4cash">
      <div class="card-body">
        <p>Hot4Cash</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/amigos.png" class="card-img-top" alt="hot4cash">
      <div class="card-body">
        <p>Hot4Cash</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/atlantic2.png" class="card-img-top" alt="hot4cash">
      <div class="card-body">
        <p>Hot4Cash</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/blazin.png" class="card-img-top" alt="hot4cash">
      <div class="card-body">
        <p>Hot4Cash</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/cirque.png" class="card-img-top" alt="hot4cash">
      <div class="card-body">
        <p>Hot4Cash</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/jackpot.png" class="card-img-top" alt="hot4cash">
      <div class="card-body">
        <p>Hot4Cash</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/demigods.png" class="card-img-top" alt="hot4cash">
      <div class="card-body">
        <p>Hot4Cash</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/fast.png" class="card-img-top" alt="hot4cash">
      <div class="card-body">
        <p>Hot4Cash</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/fivex.png" class="card-img-top" alt="hot4cash">
      <div class="card-body">
        <p>Hot4Cash</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/arena.png" class="card-img-top" alt="hot4cash">
      <div class="card-body">
        <p>Hot4Cash</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/goblins.png" class="card-img-top" alt="hot4cash">
      <div class="card-body">
        <p>Hot4Cash</p>
      </div>
    </div>
</div>

<div class="all-games">
    <button class="btn">All Games</button>
</div>




