<div class="footer row">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header">
        <div class="logo">
          <img src="../../../assets/images/bethehouselogo.png" />
          <h4>BeTheHouse</h4>
        </div>
        <div class="icons">
          <fa-icon [icon]="faPlane"></fa-icon>
          <fa-icon [icon]="faMagnet"></fa-icon>
          <fa-icon [icon]="faBriefcase"></fa-icon>
          <fa-icon [icon]="faLuggageCart"></fa-icon>
        </div>
      </div>
      
      <div class="card-body">
        <div class="disclaimer">
          <p>BeTheHouse.com is part of the <span>BET Gaming Network</span>. We have a full network of Bacon ipsum amet shoulder bacon short loin tall pork belly</p>
        </div>
        <div class="games">
          <div class="row">
            <div class="col-sm-3">
              <h6>Games</h6>
              <div class="links">
                <a href="#">Slots</a>
                <a href="#">Jackpots</a>
                <a href="#">Table Games</a>
                <a href="#">Live Casino</a>
                <a href="#">BTC Games</a>
              </div>
              
            </div>
            <div class="col-sm-3">
              <h6>Help</h6>
              <div class="links">
                <a href="#">FAQ</a>
                <a href="#">About Be The House</a>
                <a href="#">About Bitcoin</a>
              </div>
            </div>
            <div class="col-sm-3">
              <h6>Games</h6>
              <div class="links">
                <a href="#">Casino News</a>
                <a href="#">About Us</a>
                <a href="#">Terms &amp; Conditions</a>
                <a href="#">Bonus Terms &amp; Conditions</a>
              </div>   
            </div>
            <div class="last-col col-sm-3">
              <div class="links">
                <a href="#">Payments</a>
                <a href="#">Play Safe</a>
                <a href="#">Complaints</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Affiliate Program</a>
              </div>     
            </div>
          </div>
        </div>
        <div class="another-disclaimer">
          <p>BeTheHouse.com is owned and operated by Aurora Tech N.V, a company registered and established under the laws of Curacao, registration number 148186, and registered address at Ambraham de Veerstraat 7 Willemstad, Curacao. No U.S or Chinese players. All players must follow the laws in their jurisdiction. Must be 18 years or older to play. BET tokens have no rights, uses, or attributes.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <img class="countries" src="../../../assets/images/countries.png" alt="countries" />
    <div class="card">
      <div class="card-body body-images">
        <img class="play" src="../../../assets/images/responsibly.png" alt="Play Responsibly" />
        <img class="curacao" src="../../../assets/images/curacao.png" alt="gaming-curacao" />
      </div>
    </div>
  </div>
</div>
 