@import "../../../variables";

.navbar {
    max-width: 100%;
    background: $dark;

    .left {
      display: flex;
      margin-left: 5%;
    }
}
.title {
    color: $lightGold;
}

.games {
  display: flex;
  justify-content: center;
  align-items: center; 

  a {
    color: $lightGold;
  }
  
}

.navbar-nav {
    margin-left: 39.3%;
}


.nav-item {
    
    margin-left: 7px;
}

.form-control {
    background: #303943;
    border: none;
}

.btn {
  font-weight: bold;
  white-space: nowrap;
  
}

.owner-btn {
  background: linear-gradient(0.25turn, $lightGold, $darkGold);
}

.sign-in-btn {
    background: $teal;
}

@media (max-width: 1090px) {

  #navbarCollapse {
    justify-content: flex-end;
  }

  input {
    width: 10em;
  }
}




