<nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand title" href="#">BeTheHouse</a>
  <div class="games">
    <img src="../../../assets/images/gamesIcon.png" />
    <a class="nav-link" routerLink="/home">Games</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      
        <li class="nav-item input">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="Username">
        </li>
        <li class="nav-item input">
            <input type="text" class="form-control" placeholder="Password" aria-label="Password"
            aria-describedby="Password">
        </li>
         <li class="nav-item">
           <button type="button" class="btn sign-in-btn">Sign In</button>
         </li>
         <li class="nav-item">
           <button type="button" class="btn owner-btn">Become an Owner</button>
         </li>
    
      

    </ul>
  </div>
</nav>
