<div class="jumbotron">
  <div class="left">
      <div class="heading">
        <h1>Become an owner.</h1>
        <h1>Start by playing</h1>
      </div>
      <div class="information">
          <p>BeTheHouse is the first player owned <br /> casino, play more to own more, all profits paid out monthly</p>
          <button class="btn learn-more-btn">Learn More</button>
      </div>
  </div>
  <div class="right">
    <div class="heading">
        <h4>Owner Sign Up Bonus</h4>
        <h3>5 BTC <span>=</span> 125 Free <span>Spins</span></h3>
    </div>
    <div class="input-form">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
          aria-describedby="Username">
        <input type="text" class="form-control" placeholder="Password" aria-label="Password"
          aria-describedby="Password">
        <button class="form-button">Join Now</button>
        <div class="checkbox">
            <input type="checkbox" aria-label="Checkbox for following text input">
            <p>I Agree to the <span>Terms and Conditions</span></p> 
        </div>
    </div>
  </div>
</div>