<nav class="navbar navbar-expand-lg">
  
    <ul class="navbar-nav">
      <li class="nav-item">
        <fa-icon [icon]="faHeart"></fa-icon>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">All Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Top</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hot</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Video Slots</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">3D Slots</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Classic Slots</a>
      </li>
      <li class="nav-item">
        <fa-icon [icon]="faSearch"></fa-icon>
      </li>
    </ul>

</nav>
