/* Colors */

@import "variables";
@import "../node_modules/@fortawesome/fontawesome-svg-core/";

body {
    background: $dark;
    width: 100vw;
    height: 100vh;

    h1 {
        color: white;
    }
}

.goldButton {
    background: linear-gradient($lightGold, $darkGold);
}

.tealButton {
    background: $teal;
}
