<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Game</th>
      <th scope="col">Bettor</th>
      <th scope="col">Time</th>
      <th scope="col">Bet</th>
      <th scope="col">Payout</th>
      <th scope="col">Profit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Age of Asgard</td>
      <td>Buttercup88</td>
      <td>12:49:43</td>
      <td>80.00002462</td>
      <td>120.00X</td>
      <td>120.00002462</td>
    </tr>
     <tr>
       <td>Frankenstein's M...</td>
       <td>Buttercup88</td>
       <td>12:49:43</td>
       <td>80.00002462</td>
       <td>120.00X</td>
       <td>120.00002462</td>
     </tr>
     <tr>
       <td>Blackjack</td>
       <td>Buttercup88</td>
       <td>12:49:43</td>
       <td>80.00002462</td>
       <td>120.00X</td>
       <td>120.00002462</td>
     </tr>
     <tr>
       <td>Frankenstein's M...</td>
       <td>Buttercup88</td>
       <td>12:49:43</td>
       <td>80.00002462</td>
       <td>120.00X</td>
       <td>120.00002462</td>
     </tr>
     <tr>
       <td>A Christmas Carol</td>
       <td>Buttercup88</td>
       <td>12:49:43</td>
       <td>80.00002462</td>
       <td>120.00X</td>
       <td>120.00002462</td>
     </tr>
     <tr>
       <td>A Christmas Carol</td>
       <td>Buttercup88</td>
       <td>12:49:43</td>
       <td>80.00002462</td>
       <td>120.00X</td>
       <td>120.00002462</td>
     </tr>
     <tr>
       <td>Frankenstein's M...</td>
       <td>Buttercup88</td>
       <td>12:49:43</td>
       <td>80.00002462</td>
       <td>120.00X</td>
       <td>120.00002462</td>
     </tr>
     <tr>
       <td>Frankenstein's M...</td>
       <td>Buttercup88</td>
       <td>12:49:43</td>
       <td>80.00002462</td>
       <td>120.00X</td>
       <td>120.00002462</td>
     </tr>
     <tr>
       <td>Age of Asgard</td>
       <td>Buttercup88</td>
       <td>12:49:43</td>
       <td>80.00002462</td>
       <td>120.00X</td>
       <td>120.00002462</td>
     </tr>
  </tbody>
</table>

<div class="bitcoin">
    <img src="../../../assets/images/bitcoin.png" alt="bitcoin"/>
</div>
